@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Public Sans', sans-serif;
  color: #131a22;
  background: radial-gradient(circle at 20% 20%, #ffe5c7 0%, #fdf7ec 45%, #f8f2e5 100%);
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
